--
-- PostgreSQL database dump
--

\restrict 1vNcvEAImfdZiTIfW5NjW7dEXeBTdUZIIwQenF7mqZmfFiD7pGSKRhDlIl1tI1d

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_teacherposition; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.accounts_teacherposition (
    id bigint NOT NULL,
    employment_type character varying(30) NOT NULL,
    rate numeric(3,2),
    teaching_hours numeric(7,2) NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    academic_year_id bigint NOT NULL,
    position_id bigint NOT NULL,
    user_id bigint NOT NULL,
    teaching_load_imported_at timestamp with time zone
);


ALTER TABLE public.accounts_teacherposition OWNER TO individual_plan_user;

--
-- Name: accounts_teacherposition_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.accounts_teacherposition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_teacherposition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_teachingloaditem; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.accounts_teachingloaditem (
    id bigint NOT NULL,
    discipline character varying(300) NOT NULL,
    semester smallint NOT NULL,
    hours numeric(7,2) NOT NULL,
    group_number character varying(500) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    activity_type_id bigint NOT NULL,
    position_id bigint NOT NULL,
    cycle character varying(200) NOT NULL,
    students_count integer,
    hours_fact numeric(7,2) NOT NULL,
    period_label character varying(100) NOT NULL,
    row_num smallint,
    CONSTRAINT accounts_teachingloaditem_row_num_check CHECK ((row_num >= 0)),
    CONSTRAINT accounts_teachingloaditem_semester_check CHECK ((semester >= 0)),
    CONSTRAINT accounts_teachingloaditem_students_count_check CHECK ((students_count >= 0))
);


ALTER TABLE public.accounts_teachingloaditem OWNER TO individual_plan_user;

--
-- Name: accounts_teachingloaditem_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.accounts_teachingloaditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_teachingloaditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    department_id bigint,
    academic_title character varying(255) NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO individual_plan_user;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO individual_plan_user;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO individual_plan_user;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO individual_plan_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO individual_plan_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO individual_plan_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_academicyear; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_academicyear (
    id bigint NOT NULL,
    name character varying(20) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_active boolean NOT NULL,
    is_archived boolean NOT NULL
);


ALTER TABLE public.core_academicyear OWNER TO individual_plan_user;

--
-- Name: core_academicyear_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_academicyear ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_academicyear_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_categorylimit; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_categorylimit (
    id bigint NOT NULL,
    min_percent numeric(5,2) NOT NULL,
    max_percent numeric(5,2) NOT NULL,
    regulation_point character varying(50) NOT NULL,
    notes text NOT NULL,
    category_id bigint NOT NULL,
    position_id bigint
);


ALTER TABLE public.core_categorylimit OWNER TO individual_plan_user;

--
-- Name: core_categorylimit_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_categorylimit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_categorylimit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_department; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_department (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    short_name character varying(50) NOT NULL
);


ALTER TABLE public.core_department OWNER TO individual_plan_user;

--
-- Name: core_department_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_exportsettings; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_exportsettings (
    id bigint NOT NULL,
    department_name character varying(300) NOT NULL,
    faculty_name character varying(300) NOT NULL,
    approver_title character varying(300) NOT NULL,
    approver_name character varying(255) NOT NULL,
    head_name character varying(255) NOT NULL,
    protocol_number character varying(50) NOT NULL,
    protocol_date date,
    academic_year_id bigint NOT NULL,
    report_protocol_number character varying(50) NOT NULL,
    report_protocol_date date,
    department_full_name character varying(300) NOT NULL
);


ALTER TABLE public.core_exportsettings OWNER TO individual_plan_user;

--
-- Name: core_exportsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_exportsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_exportsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_position; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_position (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(30) NOT NULL
);


ALTER TABLE public.core_position OWNER TO individual_plan_user;

--
-- Name: core_position_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_position ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_position_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_positionworkload; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_positionworkload (
    id bigint NOT NULL,
    max_teaching_hours integer NOT NULL,
    max_total_hours integer NOT NULL,
    academic_year_id bigint NOT NULL,
    position_id bigint NOT NULL,
    CONSTRAINT core_positionworkload_max_teaching_hours_check CHECK ((max_teaching_hours >= 0)),
    CONSTRAINT core_positionworkload_max_total_hours_check CHECK ((max_total_hours >= 0))
);


ALTER TABLE public.core_positionworkload OWNER TO individual_plan_user;

--
-- Name: core_positionworkload_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_positionworkload ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_positionworkload_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_taskcategory; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_taskcategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(30) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    is_archived boolean NOT NULL
);


ALTER TABLE public.core_taskcategory OWNER TO individual_plan_user;

--
-- Name: core_taskcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_taskcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_taskcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_teachingactivitytype; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_teachingactivitytype (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(40) NOT NULL,
    sort_order integer NOT NULL,
    is_active boolean NOT NULL,
    CONSTRAINT core_teachingactivitytype_sort_order_check CHECK ((sort_order >= 0))
);


ALTER TABLE public.core_teachingactivitytype OWNER TO individual_plan_user;

--
-- Name: core_teachingactivitytype_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_teachingactivitytype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_teachingactivitytype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_worktype; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.core_worktype (
    id bigint NOT NULL,
    name character varying(500) NOT NULL,
    max_hours integer NOT NULL,
    unit_description character varying(200) NOT NULL,
    is_active boolean NOT NULL,
    category_id bigint NOT NULL,
    is_per_unit boolean NOT NULL,
    CONSTRAINT core_worktype_max_hours_check CHECK ((max_hours >= 0))
);


ALTER TABLE public.core_worktype OWNER TO individual_plan_user;

--
-- Name: core_worktype_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.core_worktype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_worktype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO individual_plan_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO individual_plan_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO individual_plan_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO individual_plan_user;

--
-- Name: tasks_task; Type: TABLE; Schema: public; Owner: individual_plan_user
--

CREATE TABLE public.tasks_task (
    id bigint NOT NULL,
    title character varying(300) NOT NULL,
    description text NOT NULL,
    task_type character varying(20) NOT NULL,
    planned_hours numeric(7,2) NOT NULL,
    actual_hours numeric(7,2),
    status character varying(20) NOT NULL,
    result text NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    rejection_reason text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    academic_year_id bigint NOT NULL,
    assignee_id bigint NOT NULL,
    category_id bigint NOT NULL,
    creator_id bigint NOT NULL,
    work_type_id bigint
);


ALTER TABLE public.tasks_task OWNER TO individual_plan_user;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: individual_plan_user
--

ALTER TABLE public.tasks_task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_teacherposition; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: accounts_teachingloaditem; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: core_academicyear; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.core_academicyear (id, name, start_date, end_date, is_active, is_archived) FROM stdin;
1	2025-2026	2025-09-01	2026-06-30	t	f
\.


--
-- Data for Name: core_categorylimit; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: core_department; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.core_department (id, name, short_name) FROM stdin;
\.


--
-- Data for Name: core_exportsettings; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.core_exportsettings (id, department_name, faculty_name, approver_title, approver_name, head_name, protocol_number, protocol_date, academic_year_id, report_protocol_number, report_protocol_date, department_full_name) FROM stdin;
1	╨Ъ╨Ш╨в╨Я	╨д╨░╨║╤Г╨╗╤М╤В╨╡╤В ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╨╛╨╜╨╜╤Л╤Е ╤В╨╡╤Е╨╜╨╛╨╗╨╛╨│╨╕╨╣ ╨╕ ╨║╨╛╨╝╨┐╤М╤О╤В╨╡╤А╨╜╨╛╨╣ ╨▒╨╡╨╖╨╛╨┐╨░╤Б╨╜╨╛╤Б╤В╨╕	╨Ф╨╡╨║╨░╨╜	╨Р.╨Т. ╨С╤А╨╡╨┤╨╕╤Е╨╕╨╜	╨Р.╨Т. ╨С╤А╨╡╨┤╨╕╤Е╨╕╨╜	1	2026-01-08	1	20	2026-06-05	╨Ъ╨╛╨╝╨┐╤М╤О╤В╨╡╤А╨╜╤Л╤Е ╨╕╨╜╤В╨╡╨╗╨╗╨╡╨║╤В╤Г╨░╨╗╤М╨╜╤Л╤Е ╤В╨╡╤Е╨╜╨╛╨╗╨╛╨│╨╕╨╣ ╨┐╤А╨╛╨╡╨║╤В╨╕╤А╨╛╨▓╨░╨╜╨╕╤П
\.


--
-- Data for Name: core_position; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.core_position (id, name, code) FROM stdin;
1	╨Ф╨╡╨║╨░╨╜	DEAN
2	╨Ч╨░╨▓╨╡╨┤╤Г╤О╤Й╨╕╨╣ ╨║╨░╤Д╨╡╨┤╤А╨╛╨╣	HEAD_OF_DEPARTMENT
3	╨Я╤А╨╛╤Д╨╡╤Б╤Б╨╛╤А	PROFESSOR
4	╨Ф╨╛╤Ж╨╡╨╜╤В	ASSOCIATE_PROFESSOR
5	╨б╤В╨░╤А╤И╨╕╨╣ ╨┐╤А╨╡╨┐╨╛╨┤╨░╨▓╨░╤В╨╡╨╗╤М	SENIOR_TEACHER
6	╨Р╤Б╤Б╨╕╤Б╤В╨╡╨╜╤В	ASSISTANT
\.


--
-- Data for Name: core_positionworkload; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.core_positionworkload (id, max_teaching_hours, max_total_hours, academic_year_id, position_id) FROM stdin;
1	600	1550	1	1
2	800	1550	1	2
3	800	1550	1	3
4	850	1550	1	4
5	900	1550	1	5
6	900	1550	1	6
\.


--
-- Data for Name: core_taskcategory; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: core_teachingactivitytype; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: core_worktype; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	accounts	user
7	accounts	teacherposition
8	core	position
9	core	academicyear
10	core	taskcategory
11	core	positionworkload
12	core	department
13	core	worktype
14	tasks	task
15	accounts	teachingloaditem
16	core	teachingactivitytype
17	core	categorylimit
18	core	exportsettings
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
uzpfx1fspdn96y8w54y35icpn7tpu5lg	.eJxVjsEOwiAQRP-FsyFsFyH16N1vIMtCLWrAAD0Z_93W9KDXeW8m8xKOlj67pcXqUhAnYcThN_PE95g3EG6Ur0Vyyb0mLzdF7rTJSwnxcd7dv4GZ2ry2eURrAiLhCMTAENB7NuqolGZLELQySJFgtfwwBvCTHiaMwFZrMryO8lJrzN09S0s9lfz9a98flFVA8Q:1wbWfZ:ehc9CZMA1vOTtu6XVNolu1SCOogg5RsXYP2o33FV9B4	2026-07-06 07:54:01.178306+03
\.


--
-- Data for Name: tasks_task; Type: TABLE DATA; Schema: public; Owner: individual_plan_user
--



--
-- Name: accounts_teacherposition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.accounts_teacherposition_id_seq', 14, true);


--
-- Name: accounts_teachingloaditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.accounts_teachingloaditem_id_seq', 332, true);


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 11, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: core_academicyear_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_academicyear_id_seq', 2, true);


--
-- Name: core_categorylimit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_categorylimit_id_seq', 4, true);


--
-- Name: core_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_department_id_seq', 1, false);


--
-- Name: core_exportsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_exportsettings_id_seq', 1, true);


--
-- Name: core_position_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_position_id_seq', 6, true);


--
-- Name: core_positionworkload_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_positionworkload_id_seq', 6, true);


--
-- Name: core_taskcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_taskcategory_id_seq', 5, true);


--
-- Name: core_teachingactivitytype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_teachingactivitytype_id_seq', 14, true);


--
-- Name: core_worktype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.core_worktype_id_seq', 76, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 8, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 46, true);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: individual_plan_user
--

SELECT pg_catalog.setval('public.tasks_task_id_seq', 127, true);


--
-- Name: accounts_teacherposition accounts_teacherposition_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teacherposition
    ADD CONSTRAINT accounts_teacherposition_pkey PRIMARY KEY (id);


--
-- Name: accounts_teachingloaditem accounts_teachingloaditem_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teachingloaditem
    ADD CONSTRAINT accounts_teachingloaditem_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_academicyear core_academicyear_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_academicyear
    ADD CONSTRAINT core_academicyear_name_key UNIQUE (name);


--
-- Name: core_academicyear core_academicyear_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_academicyear
    ADD CONSTRAINT core_academicyear_pkey PRIMARY KEY (id);


--
-- Name: core_categorylimit core_categorylimit_category_id_position_id_0cdb6c1c_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_categorylimit
    ADD CONSTRAINT core_categorylimit_category_id_position_id_0cdb6c1c_uniq UNIQUE (category_id, position_id);


--
-- Name: core_categorylimit core_categorylimit_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_categorylimit
    ADD CONSTRAINT core_categorylimit_pkey PRIMARY KEY (id);


--
-- Name: core_department core_department_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_department
    ADD CONSTRAINT core_department_name_key UNIQUE (name);


--
-- Name: core_department core_department_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_department
    ADD CONSTRAINT core_department_pkey PRIMARY KEY (id);


--
-- Name: core_exportsettings core_exportsettings_academic_year_id_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_exportsettings
    ADD CONSTRAINT core_exportsettings_academic_year_id_key UNIQUE (academic_year_id);


--
-- Name: core_exportsettings core_exportsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_exportsettings
    ADD CONSTRAINT core_exportsettings_pkey PRIMARY KEY (id);


--
-- Name: core_position core_position_code_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_position
    ADD CONSTRAINT core_position_code_key UNIQUE (code);


--
-- Name: core_position core_position_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_position
    ADD CONSTRAINT core_position_name_key UNIQUE (name);


--
-- Name: core_position core_position_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_position
    ADD CONSTRAINT core_position_pkey PRIMARY KEY (id);


--
-- Name: core_positionworkload core_positionworkload_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_positionworkload
    ADD CONSTRAINT core_positionworkload_pkey PRIMARY KEY (id);


--
-- Name: core_positionworkload core_positionworkload_position_id_academic_yea_6dc44bd1_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_positionworkload
    ADD CONSTRAINT core_positionworkload_position_id_academic_yea_6dc44bd1_uniq UNIQUE (position_id, academic_year_id);


--
-- Name: core_taskcategory core_taskcategory_code_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_taskcategory
    ADD CONSTRAINT core_taskcategory_code_key UNIQUE (code);


--
-- Name: core_taskcategory core_taskcategory_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_taskcategory
    ADD CONSTRAINT core_taskcategory_name_key UNIQUE (name);


--
-- Name: core_taskcategory core_taskcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_taskcategory
    ADD CONSTRAINT core_taskcategory_pkey PRIMARY KEY (id);


--
-- Name: core_teachingactivitytype core_teachingactivitytype_code_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_teachingactivitytype
    ADD CONSTRAINT core_teachingactivitytype_code_key UNIQUE (code);


--
-- Name: core_teachingactivitytype core_teachingactivitytype_name_key; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_teachingactivitytype
    ADD CONSTRAINT core_teachingactivitytype_name_key UNIQUE (name);


--
-- Name: core_teachingactivitytype core_teachingactivitytype_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_teachingactivitytype
    ADD CONSTRAINT core_teachingactivitytype_pkey PRIMARY KEY (id);


--
-- Name: core_worktype core_worktype_category_id_name_2dd4b572_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_worktype
    ADD CONSTRAINT core_worktype_category_id_name_2dd4b572_uniq UNIQUE (category_id, name);


--
-- Name: core_worktype core_worktype_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_worktype
    ADD CONSTRAINT core_worktype_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: tasks_task tasks_task_pkey; Type: CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_pkey PRIMARY KEY (id);


--
-- Name: accounts_teacherposition_academic_year_id_5899c1c0; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_teacherposition_academic_year_id_5899c1c0 ON public.accounts_teacherposition USING btree (academic_year_id);


--
-- Name: accounts_teacherposition_position_id_b7052198; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_teacherposition_position_id_b7052198 ON public.accounts_teacherposition USING btree (position_id);


--
-- Name: accounts_teacherposition_user_id_c2dcfc19; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_teacherposition_user_id_c2dcfc19 ON public.accounts_teacherposition USING btree (user_id);


--
-- Name: accounts_teachingloaditem_activity_type_id_cd892157; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_teachingloaditem_activity_type_id_cd892157 ON public.accounts_teachingloaditem USING btree (activity_type_id);


--
-- Name: accounts_teachingloaditem_position_id_0b25ab71; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_teachingloaditem_position_id_0b25ab71 ON public.accounts_teachingloaditem USING btree (position_id);


--
-- Name: accounts_user_department_id_8dc06840; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_department_id_8dc06840 ON public.accounts_user USING btree (department_id);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_academicyear_name_198d43b5_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_academicyear_name_198d43b5_like ON public.core_academicyear USING btree (name varchar_pattern_ops);


--
-- Name: core_categorylimit_category_id_ce0c0975; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_categorylimit_category_id_ce0c0975 ON public.core_categorylimit USING btree (category_id);


--
-- Name: core_categorylimit_position_id_5413c1ad; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_categorylimit_position_id_5413c1ad ON public.core_categorylimit USING btree (position_id);


--
-- Name: core_department_name_44a68fd4_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_department_name_44a68fd4_like ON public.core_department USING btree (name varchar_pattern_ops);


--
-- Name: core_position_code_b59b6f78_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_position_code_b59b6f78_like ON public.core_position USING btree (code varchar_pattern_ops);


--
-- Name: core_position_name_29721d36_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_position_name_29721d36_like ON public.core_position USING btree (name varchar_pattern_ops);


--
-- Name: core_positionworkload_academic_year_id_2aa97807; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_positionworkload_academic_year_id_2aa97807 ON public.core_positionworkload USING btree (academic_year_id);


--
-- Name: core_positionworkload_position_id_f204c3e4; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_positionworkload_position_id_f204c3e4 ON public.core_positionworkload USING btree (position_id);


--
-- Name: core_taskcategory_code_4c7f2b34_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_taskcategory_code_4c7f2b34_like ON public.core_taskcategory USING btree (code varchar_pattern_ops);


--
-- Name: core_taskcategory_name_c180fc92_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_taskcategory_name_c180fc92_like ON public.core_taskcategory USING btree (name varchar_pattern_ops);


--
-- Name: core_teachingactivitytype_code_055a1c9c_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_teachingactivitytype_code_055a1c9c_like ON public.core_teachingactivitytype USING btree (code varchar_pattern_ops);


--
-- Name: core_teachingactivitytype_name_68e3d670_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_teachingactivitytype_name_68e3d670_like ON public.core_teachingactivitytype USING btree (name varchar_pattern_ops);


--
-- Name: core_worktype_category_id_42f20f9f; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX core_worktype_category_id_42f20f9f ON public.core_worktype USING btree (category_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: tasks_task_academic_year_id_f9b15411; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX tasks_task_academic_year_id_f9b15411 ON public.tasks_task USING btree (academic_year_id);


--
-- Name: tasks_task_assignee_id_2c3ca866; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX tasks_task_assignee_id_2c3ca866 ON public.tasks_task USING btree (assignee_id);


--
-- Name: tasks_task_category_id_ec02979a; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX tasks_task_category_id_ec02979a ON public.tasks_task USING btree (category_id);


--
-- Name: tasks_task_creator_id_ca3b6762; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX tasks_task_creator_id_ca3b6762 ON public.tasks_task USING btree (creator_id);


--
-- Name: tasks_task_work_type_id_c068587d; Type: INDEX; Schema: public; Owner: individual_plan_user
--

CREATE INDEX tasks_task_work_type_id_c068587d ON public.tasks_task USING btree (work_type_id);


--
-- Name: accounts_teacherposition accounts_teacherposi_academic_year_id_5899c1c0_fk_core_acad; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teacherposition
    ADD CONSTRAINT accounts_teacherposi_academic_year_id_5899c1c0_fk_core_acad FOREIGN KEY (academic_year_id) REFERENCES public.core_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_teacherposition accounts_teacherposi_position_id_b7052198_fk_core_posi; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teacherposition
    ADD CONSTRAINT accounts_teacherposi_position_id_b7052198_fk_core_posi FOREIGN KEY (position_id) REFERENCES public.core_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_teacherposition accounts_teacherposition_user_id_c2dcfc19_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teacherposition
    ADD CONSTRAINT accounts_teacherposition_user_id_c2dcfc19_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_teachingloaditem accounts_teachingloa_activity_type_id_cd892157_fk_core_teac; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teachingloaditem
    ADD CONSTRAINT accounts_teachingloa_activity_type_id_cd892157_fk_core_teac FOREIGN KEY (activity_type_id) REFERENCES public.core_teachingactivitytype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_teachingloaditem accounts_teachingloa_position_id_0b25ab71_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_teachingloaditem
    ADD CONSTRAINT accounts_teachingloa_position_id_0b25ab71_fk_accounts_ FOREIGN KEY (position_id) REFERENCES public.accounts_teacherposition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user accounts_user_department_id_8dc06840_fk_core_department_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_department_id_8dc06840_fk_core_department_id FOREIGN KEY (department_id) REFERENCES public.core_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_categorylimit core_categorylimit_category_id_ce0c0975_fk_core_taskcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_categorylimit
    ADD CONSTRAINT core_categorylimit_category_id_ce0c0975_fk_core_taskcategory_id FOREIGN KEY (category_id) REFERENCES public.core_taskcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_categorylimit core_categorylimit_position_id_5413c1ad_fk_core_position_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_categorylimit
    ADD CONSTRAINT core_categorylimit_position_id_5413c1ad_fk_core_position_id FOREIGN KEY (position_id) REFERENCES public.core_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_exportsettings core_exportsettings_academic_year_id_b86093a8_fk_core_acad; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_exportsettings
    ADD CONSTRAINT core_exportsettings_academic_year_id_b86093a8_fk_core_acad FOREIGN KEY (academic_year_id) REFERENCES public.core_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_positionworkload core_positionworkloa_academic_year_id_2aa97807_fk_core_acad; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_positionworkload
    ADD CONSTRAINT core_positionworkloa_academic_year_id_2aa97807_fk_core_acad FOREIGN KEY (academic_year_id) REFERENCES public.core_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_positionworkload core_positionworkload_position_id_f204c3e4_fk_core_position_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_positionworkload
    ADD CONSTRAINT core_positionworkload_position_id_f204c3e4_fk_core_position_id FOREIGN KEY (position_id) REFERENCES public.core_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_worktype core_worktype_category_id_42f20f9f_fk_core_taskcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.core_worktype
    ADD CONSTRAINT core_worktype_category_id_42f20f9f_fk_core_taskcategory_id FOREIGN KEY (category_id) REFERENCES public.core_taskcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_academic_year_id_f9b15411_fk_core_academicyear_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_academic_year_id_f9b15411_fk_core_academicyear_id FOREIGN KEY (academic_year_id) REFERENCES public.core_academicyear(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_assignee_id_2c3ca866_fk_accounts_teacherposition_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_assignee_id_2c3ca866_fk_accounts_teacherposition_id FOREIGN KEY (assignee_id) REFERENCES public.accounts_teacherposition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_category_id_ec02979a_fk_core_taskcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_category_id_ec02979a_fk_core_taskcategory_id FOREIGN KEY (category_id) REFERENCES public.core_taskcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_creator_id_ca3b6762_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_creator_id_ca3b6762_fk_accounts_user_id FOREIGN KEY (creator_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_work_type_id_c068587d_fk_core_worktype_id; Type: FK CONSTRAINT; Schema: public; Owner: individual_plan_user
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_work_type_id_c068587d_fk_core_worktype_id FOREIGN KEY (work_type_id) REFERENCES public.core_worktype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO individual_plan_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 1vNcvEAImfdZiTIfW5NjW7dEXeBTdUZIIwQenF7mqZmfFiD7pGSKRhDlIl1tI1d

